@font-face {
  font-family: 'Lato-Regular';
  src: url("../assets/fonts/Lato2OFL/Lato-Regular.ttf") format("truetype");
}

@font-face {
  font-family: 'Lato-Light';
  src: url("../assets/fonts/Lato2OFL/Lato-Light.ttf") format("truetype");
}

@media screen and (min-width: 0px){
  /* #value-page{
    display: flex;
    flex-direction: column;
    top: 0px;
    left: 0;
    width: 100%;
  } */

  #value-page{
    width:inherit;
    background-color: #1A1A1A;
    height:100vh;
    overflow:hidden;

  }

  #value-content{
    position: relative;
    width: 100vw;
    color:white;
    margin: 0 auto;
    height:100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  #value-value{
    position: relative;
    width: 90.4%;
    height: 204px;
    display:flex;
    flex-direction: column;
    align-items:center;
    justify-content: space-between;
    margin: 0 auto;
    /* margin-top: 16vh; */
  }

  #value-title{
    text-align:center;
    font-family:'Poppins-Semibold';
    font-style: normal;
    font-weight: 600;
    font-size: 3.37em;
    /* margin: 27.99vh 0 6.15vh 0; */
    margin:0;
    animation: rollIn forwards .5s;
  }
  #arrow_values{
    margin: 0 auto;
    margin-top: 192px;
    filter:invert(1);
    width: 16px;
    left: 3px;
    position: relative;
  }

  @keyframes rollIn {
    from {opacity: 0;}
    to {opacity: 1}
  }

    #value-text{
      text-align: center;
      /* margin: auto; */
      animation: rollIn forwards .5s;
      width: 100%;
      font-family: 'OpenSans-Regular';
      font-size: 1.06em;
      line-height: 1.5;
      bottom: 7px;
      position:relative;

      /* border-bottom: 1px solid;
      border-top: 1px solid; */
    }



    /* #learn-arrow-back{
      filter: invert(1);
      width: 30px;
      transform: rotate(-90deg);
    }

    #learn-arrow-forward{
      filter: invert(1);
      width: 30px;
      transform: rotate(90deg);
    } */
}

@media screen and (min-width: 1024px){
  #value-value{
    width: 100%;
    height:22vh;
  }
  #value-content{
    height:100vh;
  }
  #value-value{
    height:242px;
    margin:0;
  }
  #value-text{
    width:50%;
    margin: 0;
  }
  #value-circles{
    /* margin: 6.13vh auto 7.52vh; */
  }
  #arrow_values{
    margin: 65px auto 0px;
  }
}
